RPC_URL=wss://arb-mainnet.g.alchemy.com/v2/your-alchemy-key
DATABASE_URL=postgres://user:@localhost/flood

# optional
TESTING=false
API_PORT=5000
RPC_BATCH_SIZE=2000
FLOOD_CONTRACT_ADDRESS=0x00000000cf83d487A9cDfd8E8C121AF9f5ddE55B
FLOOD_CONTRACT_START_BLOCK=111508091
